/* Full-page gradient background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 background: linear-gradient(to right, var(--lineargradient2--color),var(--lineargradient1--color)); /* Blue gradient */
  background-size: cover;
  background-position: center;
}

/* Semi-transparent login box */
.auth-container form {
  height: 280px; /* control container height */
  width: 320px;
  background-color: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  color: var(--white--color);
}

/* Heading */
.auth-container h2 {
  text-align: center;
  color: var(--white--color);

}

/* Input fields */
.auth-container input {
  margin: 15px 0px 10px 0px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* Submit button */
.auth-container button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background-color: var( --darkgrey--color);
  color: var(--white--color);
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-container button:hover {
  background-color:var(--lightgrey--color);
}

/* Back link */
.auth-container p {
  margin-top: 20px;
  text-align: center;
  color: var(--white--color);
  cursor: pointer;
  text-decoration: underline;
}

/* media--quries */
@media screen and (max-width: 500px){
.auth-container form{
  height: 250px; 
  width: 290px;
}
}

@media screen and (max-width: 375px){
.auth-container form{
  width: 250px;
}
}

@media screen and (max-width: 320px){
.auth-container form{
  width: 220px;
}
}
