.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg, var(--primary--color) 20%, var(--gradient3--color) 30%, var(--deepskyblue--color) 90%);
  text-align: center;
}

h1 {
  background: -webkit-linear-gradient(360deg, var(--white--color), var(--darkgrey--color));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: Lexend;
  font-weight: 450;
}

.welcome-container .buttons {
  display: flex;
  flex-direction: column;
}

.login-button {
  margin-right: 10px;
}

.welcome-container button {
  padding: 15px 30px;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--white--color);
  color: var(--darkgrey--color);
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.welcome-container button:hover {
  background-color: var(--darkgrey--color);
  color: var(--white--color);
}

.welcome-container .guest-link {
  margin-top: 15px;
  color: var(--whitesmoke--color);
  cursor: pointer;
  text-decoration: underline;
}

/* media--quries */

@media screen and (max-width: 768px){
.welcome-container h1 {
  font-size: 2rem;
}
.welcome-container button {
  border-radius: 7px;
}
}

@media screen and (max-width: 500px){
.welcome-container h1 {
  font-size: 1.3rem;
}
.welcome-container button {
  padding: 10px 25px;
  font-size: 0.9rem;
}
}

@media screen and (max-width: 375px){
.welcome-container h1 {
  font-size: 1.2rem;
}
}

@media screen and (max-width: 320px){
.welcome-container h1 {
  font-size: 1rem;
}
}
